<a href="javascript:void(0)" class="sg_sidebar_button"><i class="icon" data-icon="menu"></i></a>
<div class="sg_sidebar">
  <a href="{{ site.baseurl }}/index.html" class="logo">
    <div class="icon">
    <div class="title">{{ site.sg_title }}</div>
  </a>
  <ul>
    <li><a href="{{ site.baseurl }}/index.html"{% if page.url == '/' %} class="active"{% endif %}>Get Started</a></li>
  </ul>

  {% assign about = site.docs | where: 'type', 'about' | sort: 'url' %}
  <div class="group">
    <div class="group_title">About</div>
    <ul>{% for doc in about %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign style = site.docs | where: 'type', 'style' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Style</div>
    <ul>{% for doc in style %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign library = site.docs | where: 'type', 'library' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Library</div>
    <ul>{% for doc in library %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign tools = site.docs | where: 'type', 'tools' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Tools</div>
    <ul>{% for doc in tools %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign templates = site.docs | where: 'type', 'template' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Templates</div>
    <ul>{% for doc in templates %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign samples = site.docs | where: 'type', 'sample' | sort: 'url' %}
  <ul>{% for doc in samples %}
    <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
  {% endfor %}</ul>
</div>
